*.log
*.html
*.pyc
__pycache__/
test_read_login.py
__init__.py_old
new_result/
result_new/
tftpd/firmware*.*
tftpd/er6_kbp_test
tftpd/bzImage
tftpd/coreboot.rom
tftpd/TEST-CASES/
tftpd/avto-test-stend2/
tftpd/*.firmware
tftpd/*.pcap
avtotests2-topo.odg
test_results.txt
function_tests/part002/0010_part2.py
tools/docker/DHCP/data/dhcpd.leases~
.vscode/
.~lock.*.odg#
reports/monitor_report_atAR1.txt
reports/monitor_report_atAR2.txt
reports/monitor_report_atDR1.txt
tftpd/atAR1
tftpd/atAR2
tftpd/atDR1
tftpd/labr01
tftpd/labr02
tftpd/labs01